<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="css/main.css" rel="stylesheet">
</head>
<body>

<div class="navbar">
  <a href="#home"><img src="gambar/navbar.png" alt="Avatar"></a>
  <a href="#news"><b>How It's Work</b></a>
  <a href="#contact"><b>Contact</b></a>
</div>
  <div class="banner">
    <img src="gambar/herobg.png" alt="Avatar">
    <div class="hero">
      <h1>The world's top Lost & Found Website</h1>
      <p>Handshare is a place to report or retrieve a lost item. Everyone can find their lost item back.<p>
        <div class="search">
          <input type="text" class="searchTerm" placeholder="What are you looking for?">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
         </button>
       </div>
    </div>
  </div>
  <div class="kategories">
    <div class="kategory">
      <a href="#" target="_blank"><b>All</b></a>
    </div>
    <div class="kategory">
      <a href="#" target="_blank"><b>Helm</b></a>
    </div>
    <div class="kategory">
      <a href="#" target="_blank"><b>Handphone</b></a>
    </div>
    <div class="kategory">
      <a href="#" target="_blank"><b>Bag</b></a>
    </div>
    <div class="kategory">
      <a href="#" target="_blank"><b>Document</b></a>
    </div>
    <div class="kategory">
      <a href="#" target="_blank"><b>Keys</b></a>
    </div>
    <div class="kategory">
      <a href="#" target="_blank"><b>Wallet</b></a>
    </div>
    <div class="kategory">
      <a href="#" target="_blank"><b>Accesories</b></a>
    </div>
    
</div>
<div class="main"> 
  <div class="cards">
    <div class="card">
      <a href="details.html">
        <img src="gambar/gam1.jpg" alt="Avatar" style="width:100%">
      </a>
      <div class="container">
          <div class="profile">
            <img src="gambar/img_avatar.png" alt="Avatar">
          </div>
          <a href="#">
            <h4><b>John Doe</b></h4>
          </a>
          <div>
          <a href="details.html">
            <h4><b>Iphone 11</b></h4>  
          </a>
            <p>12-02-2000 / 14:12</p> 
        <p>Ditemukan handphone sdasdasdasdasdasdasdasda....</p>
      </div> 
      </div>
      <div class="choice-myads">
        <a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#" target="_blank"><i class="	fa fa-whatsapp" aria-hidden="true"></i></a>
      </div> 
    </div>
    <div class="card">
      <a href="#">
        <img src="gambar/gam2.jpg" alt="Avatar" style="width:100%">
      </a>
      <div class="container">
          <div class="profile">
            <img src="gambar/img_avatar.png" alt="Avatar">
          </div>
          <a href="#">
            <h4><b>John Doe</b></h4>
          </a>
          <div>
          <a href="#">
            <h4><b>Helm Creamy</b></h4>  
          </a>
        <p>Ditemukan handphone sdasdasdasdasdasdasdasda....</p>
      </div> 
      </div>
    </div>
    <div class="card">
      <a href="#">
        <img src="gambar/gam3.jpg" alt="Avatar" style="width:100%">
      </a>
      <div class="container">
          <div class="profile">
            <img src="gambar/img_avatar.png" alt="Avatar">
          </div>
          <a href="#">
            <h4><b>John Doe</b></h4>
          </a>
          <div>
          <a href="#">
            <h4><b>Wallet Brown</b></h4>  
          </a>
        <p>Ditemukan handphone sdasdasdasdasdasdasdasda....</p>
      </div> 
      </div>
    </div>
    <div class="card">
      <a href="#">
        <img src="gambar/gam4.jpg" alt="Avatar" style="width:100%">
      </a>
      <div class="container">
          <div class="profile">
            <img src="gambar/img_avatar.png" alt="Avatar">
          </div>
          <a href="#">
            <h4><b>John Doe</b></h4>
          </a>
          <div>
          <a href="#">
            <h4><b>Air Jordan</b></h4>  
          </a>
        <p>Ditemukan handphone sdasdasdasdasdasdasdasda....</p>
      </div> 
      </div>
    </div>
    <div class="card">
      <a href="#">
        <img src="gambar/gam1.jpg" alt="Avatar" style="width:100%">
      </a>
      <div class="container">
          <div class="profile">
            <img src="gambar/img_avatar.png" alt="Avatar">
          </div>
          <a href="#">
            <h4><b>John Doe</b></h4>
          </a>
          <div>
          <a href="#">
            <h4><b>Iphone X</b></h4>  
          </a>
        <p>Ditemukan handphone sdasdasdasdasdasdasdasda....</p>
      </div> 
      </div>
    </div>
    <div class="card">
      <a href="#">
        <img src="gambar/gam2.jpg" alt="Avatar" style="width:100%">
      </a>
      <div class="container">
          <div class="profile">
            <img src="gambar/img_avatar.png" alt="Avatar">
          </div>
          <a href="#">
            <h4><b>John Doe</b></h4>
          </a>
          <div>
          <a href="#">
            <h4><b>Helm Creamy</b></h4>  
          </a>
        <p>Ditemukan handphone sdasdasdasdasdasdasdasda....</p>
      </div> 
      </div>
    </div>
    <div class="card">
      <a href="#">
        <img src="gambar/gam3.jpg" alt="Avatar" style="width:100%">
      </a>
      <div class="container">
          <div class="profile">
            <img src="gambar/img_avatar.png" alt="Avatar">
          </div>
          <a href="#">
            <h4><b>John Doe</b></h4>
          </a>
          <div>
          <a href="#">
            <h4><b>Brown Wallet</b></h4>  
          </a>
        <p>Ditemukan handphone sdasdasdasdasdasdasdasda....</p>
      </div> 
      </div>
    </div>
    <div class="card">
      <a href="#">
        <img src="gambar/gam4.jpg" alt="Avatar" style="width:100%">
      </a>
      <div class="container">
          <div class="profile">
            <img src="gambar/img_avatar.png" alt="Avatar">
          </div>
          <a href="#">
            <h4><b>John Doe</b></h4>
          </a>
          <div>
          <a href="#">
            <h4><b>Air Jordan</b></h4>  
          </a>
        <p>Ditemukan handphone sdasdasdasdasdasdasdasda....</p>
      </div> 
      </div>
    </div>
    <div class="card">
      <a href="#">
        <img src="gambar/gam1.jpg" alt="Avatar" style="width:100%">
      </a>
      <div class="container">
          <div class="profile">
            <img src="gambar/img_avatar.png" alt="Avatar">
          </div>
          <a href="#">
            <h4><b>John Doe</b></h4>
          </a>
          <div>
          <a href="#">
            <h4><b>Iphone X</b></h4>  
          </a>
        <p>Ditemukan handphone sdasdasdasdasdasdasdasda....</p>
      </div> 
      </div>
    </div>
    <div class="card">
      <a href="#">
        <img src="gambar/gam2.jpg" alt="Avatar" style="width:100%">
      </a>
      <div class="container">
          <div class="profile">
            <img src="gambar/img_avatar.png" alt="Avatar">
          </div>
          <a href="#">
            <h4><b>John Doe</b></h4>
          </a>
          <div>
          <a href="#">
            <h4><b>Helm Creamy</b></h4>  
          </a>
        <p>Ditemukan handphone sdasdasdasdasdasdasdasda....</p>
      </div> 
      </div>
    </div>
    
  </div>
</div>
<div class="footers">
    <div class="footer">
      <div class="logo">
        <img src="gambar/navbar.png" alt="Avatar">
      </div>
      <p>Handshare is a place to report or retrieve a lost item. Everyone can find their lost item back.</p>
      <div class="socialmedia">
      <i class="fa fa-instagram"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-facebook-square"></i>
      <i class="fa fa-pinterest-square"></i>
    </div>
    </div>
    <div class="footer">
      <div align="center">
        <p>© 2021 HandShare. All rights reserved.</p>
      </div>
  </div>
  <div class="footer">
    <div>
      <b>Develop By</b>
    </div>
    <p>Alfonsus, Fakhri Az, Fernanda, Jupantri, Naufal, Ragil </p>
</div>
</body>


</html>
